.icon_filter {
  padding: 0.5em 0.5em 0.5em 0;
}

.btn_icon {
  width: 1.7em;
  min-width: 40px;
  height: 1.7em;
  min-height: 40px;
  background-color: var(--color-bg);
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.3em;
}

.btn_icon:hover {
  background-color: var(--color-bg-quinary);
}

.icon_mage {
  width: 1.1em;
  min-width: 24px;
}

:is(.icon_filter,
  .btn_icon,
  .icon_mage,
) {
  font-size: clamp(0.8rem, 0.8vw + 0.8rem, 7rem);
}

@media (max-width: 768px) {
  .icon_filter {
    padding: 0em;
  }
}