.card_container {
  width: 100%;
  padding: 0.4em;
  border: 1px solid var(--color-border-secondary);
  border-radius: 0.3em;
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  justify-content: space-between;
  font-size: 1em;
  cursor: pointer;
}

.card_container:hover {
  background-color: var(--color-text-quinary);
}

.caracterist_card {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.image_card {
  width: 5em;
  height: 5em;
  border-radius: 0.3em;
}

.info_card {
  font-size: 0.9em;
}

.info_card p {
  font-size: 0.7em !important;
  color: var(--color-text-primary);
}

.cloud_p {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  gap: 0.12em;
}

.icon_cloud {
  color: var(--color-zinc-500);
  width: 1.5em;
}

.price_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.price {
  display: flex;
  align-items: center;
  gap: 0.2em;
}

.price h2 {
  font-size: 1em !important;
  font-weight: 700;
  color: var(--color-text-primary);
}

.text_price {
  font-size: 0.6em !important;
  color: var(--color-text-primary);
}

.delivery {
  text-align: end;
  font-size: "0.7em";
}

.text_delivery { 
  font-size: 0.6em !important;
  color: var(--color-text-quaternary) !important;
}

:is(.card_container,
  .caracterist_card,
  .image_card,
  .info_card,
  .info_card p,
  .cloud_p,
  .icon_cloud,
  .price_container,
  .price,
  .price h2,
  .delivery,
  .text_delivery
) {
  font-size: clamp(1rem, 1vw + 0.5rem, 7rem);
}