.search_section {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: transparent;
}

.input_search {
  width: 100%;
  height: 100%;
  min-height: 48px;
  padding: 0em 52px 0em 48px;
  font-size: 0.8em !important;
  background-color: var(--color-bg);
  border: 1px solid var(--color-border-secondary);
  border-radius: 0.3em;
  outline: none;
}

.input_search:focus {
  border: 1px solid var(--color-bg-secondary);
}

.label_search {
  width: 2em;
  min-width: 48px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0em;
}

.btn_search_container {
  width: 2em;
  min-width: 48px;
  height: 80%;
  position: absolute;
  right: 0em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 1px solid var(--color-border-secondary);
  padding: 0em 0.16em;
}

.btn_search {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
}

.btn_search:hover {
  background-color: var(--color-bg-quinary);
  border-radius: 0.2em;
}

.icon_search {
  color: var(--color-zinc-800);
  width: 1.1em;
}

.icon_square {
  color: var(--color-zinc-400);
  width: 1.1em;
}

.icon_square:hover {
  color: var(--color-zinc-600);
}

:is(.search_section,
  .input_container,
  .label_search,
  .input_search,
  .btn_search_container,
  .btn_search,
  .icon_search,
  .icon_square,
) {
  font-size: clamp(0.8rem, 0.8vw + 0.8rem, 4rem);
}

@media (max-width: 768px) {

  .label_search,
  .btn_search_container {
    min-width: 48px;
  }

  :is(.search_section,
    .input_container,
    .label_search,
    .input_search,
    .btn_search_container,
    .btn_search,
    .icon_search,
    .icon_square,
  ) {
    font-size: clamp(1.2rem, 1.2vw + 0.5rem, 7rem);
  }
}

@media (min-width: 1400px) {
  .input_search {
    padding: 0em 2.7em;
  }
}